Repository jeromecoloma/imgxsh: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shfmt, tests

shellcheck:
  run: "echo \"üîç Running ShellCheck...\"\nif command -v shellcheck >/dev/null 2>&1; then\n  # POSIX-safe: run shellcheck once on all files; non-zero if issues\n  if ! find . -name \"*.sh\" -not -path \"./tests/bats-*/*\" -not -path \"./shell-starter-tests/*\" -exec shellcheck {} +; then\n    echo \
  ...

shfmt:
  run: "echo \"üé® Checking code formatting with shfmt...\"\nif command -v shfmt >/dev/null 2>&1; then\n  # Check formatting on all shell files and fail if diffs are produced\n  diff_output=$(find . -name \"*.sh\" -not -path \"./tests/bats-*/*\" -not -path \"./shell-starter-tests/*\" -exec shfmt -d {
  ...

tests:
  run: "echo \"üß™ Running tests...\"\nif [ -f \"./tests/run-tests.sh\" ]; then\n  chmod +x ./tests/run-tests.sh\n  ./tests/run-tests.sh --ci\nelse\n  echo \"‚ö†Ô∏è  Test runner not found: ./tests/run-tests.sh\"\n  exit 1\nfi\n"

chore: update project configuration and improve validation checks
  .gitignore
  lefthook.yml
  scripts/setup-hooks.sh
  tests/run-tests-ci.sh
  tests/run-tests.sh
  tests/setup-ci-environment.sh
Due: shellcheck, shfmt, tests

chore: update Shell Starter version and enhance Lefthook validation
  .shell-starter-version
  bin/imgxsh-extract-pdf
  bin/update-shell-starter
  lefthook.yml
Due: none

feat: add update and version check commands to imgxsh tools
  README.md
  bin/imgxsh
  bin/imgxsh-convert
  bin/imgxsh-extract-pdf
  bin/update-imgxsh
Due: none

fix: correct command array handling in update-imgxsh script
  bin/update-imgxsh
Due: none

test: update imgxsh-extract-pdf test for improved output handling
  tests/imgxsh-extract-pdf.bats
Due: tests

feat: add imgxsh-extract-excel tool for extracting images from Excel files
  README.md
  bin/imgxsh-extract-excel
  lefthook.yml
  tests/imgxsh-extract-excel.bats
  tests/setup-ci-environment.sh
Due: shellcheck, shfmt, tests

fix: update imgxsh-extract-excel for improved media extraction and format handling
  bin/imgxsh-extract-excel
  tests/test_helper.bash
Due: none

refactor: enhance readability and maintainability in imgxsh-extract-excel
  bin/imgxsh-extract-excel
Due: none

feat: enhance imgxsh-extract-pdf functionality and documentation
  README.md
  bin/imgxsh-extract-pdf
  tests/imgxsh-extract-pdf.bats
Due: tests

fix: update imgxsh-extract-pdf dependency handling for dry-run and list-only modes
  bin/imgxsh-extract-pdf
  tests/setup-ci-environment.sh
Due: shellcheck, shfmt, tests

fix: correct BATS_LIB_PATH export formatting in CI environment setup
  tests/setup-ci-environment.sh
Due: shellcheck, shfmt, tests

fix: enhance imgxsh-extract-pdf dry-run handling for ImageMagick detection
  bin/imgxsh-extract-pdf
  tests/imgxsh-extract-excel.bats
Due: tests

fix: improve imgxsh-extract-pdf dependency check for ImageMagick
  tests/imgxsh-extract-pdf.bats
Due: tests

fix: streamline test setup in imgxsh-extract-excel
  tests/imgxsh-extract-excel.bats
Due: tests

feat: enhance imgxsh-extract-pdf with complex page range support
  README.md
  bin/imgxsh-extract-pdf
  bin/imgxsh-resize
  tests/imgxsh-extract-pdf.bats
Due: tests

fix: correct page indexing in imgxsh-extract-pdf for ImageMagick commands
  bin/imgxsh-extract-pdf
  tests/imgxsh-extract-pdf.bats
Due: tests

docs: update README to reflect project structure and testing framework
  README.md
Due: none

feat: add workflow and preset listing functionality to imgxsh
  bin/imgxsh
  lib/imgxsh/core.sh
  tests/imgxsh-yaml-validation.bats
  tests/test-yaml-simple.bats
  tests/test_helper.bash
Due: shellcheck, shfmt, tests

feat: expand imgxsh with comprehensive workflow and preset management
  README.md
  bin/imgxsh
  docs/EXAMPLES-GALLERY.md
  docs/PRESETS-SYSTEM.md
  docs/README.md
  docs/WORKFLOW-CONFIGURATION.md
  docs/WORKFLOW-QUICK-REFERENCE.md
  lib/imgxsh/core.sh
Due: shellcheck, shfmt, tests

feat: implement robust error handling and spinner management in imgxsh
  bin/imgxsh
  lib/imgxsh/core.sh
Due: shellcheck, shfmt, tests

feat: enhance imgxsh core script with robust dependency sourcing and configuration management
  lib/imgxsh/core.sh
Due: shellcheck, shfmt, tests

feat: enhance YAML validation in imgxsh core script
  lib/imgxsh/core.sh
Due: shellcheck, shfmt, tests

docs: enhance presets documentation with steps structure guidelines
  docs/PRESETS-SYSTEM.md
  docs/WORKFLOW-QUICK-REFERENCE.md
  lib/imgxsh/core.sh
Due: shellcheck, shfmt, tests

feat: enhance imgxsh installation and validation scripts
  .gitignore
  README.md
  bin/bump-version
  bin/cleanup-shell-path
  bin/generate-ai-workflow
  bin/imgxsh
  bin/imgxsh-check-deps
  bin/imgxsh-convert
  bin/imgxsh-extract-excel
  bin/imgxsh-extract-pdf
  bin/imgxsh-resize
  bin/update-imgxsh
  config/workflows/pdf-to-web.yaml
  install.sh
  lefthook.yml
  lib/imgxsh/core.sh
  lib/imgxsh/validation.sh
  lib/imgxsh/yaml.sh
  scripts/.shfmtignore
  scripts/check-version.sh
  scripts/generate-release-notes.sh
  scripts/run-act-compatibility.sh
  scripts/setup-bats.sh
  scripts/setup-hooks.sh
  scripts/shellcheck-check.sh
  scripts/shfmt-check.sh
  scripts/shfmt-fix.sh
  tests/imgxsh-yaml-validation.bats
  tests/run-tests-ci.sh
  tests/run-tests.sh
  tests/setup-ci-environment.sh
  tests/test-yaml-simple.bats
  uninstall.sh
Due: shellcheck, shfmt, tests

feat: enhance imgxsh scripts with improved logging and error handling
  bin/cleanup-shell-path
  bin/imgxsh
  bin/imgxsh-check-deps
  bin/imgxsh-convert
  bin/imgxsh-extract-excel
  bin/imgxsh-extract-pdf
  bin/imgxsh-resize
  bin/update-imgxsh
  install.sh
  lib/imgxsh/core.sh
  lib/imgxsh/validation.sh
  lib/imgxsh/yaml.sh
  scripts/check-version.sh
  scripts/generate-release-notes.sh
  scripts/run-act-compatibility.sh
  scripts/setup-bats.sh
  scripts/setup-hooks.sh
  scripts/shellcheck-check.sh
  scripts/shfmt-check.sh
  scripts/shfmt-fix.sh
  tests/run-tests-ci.sh
  tests/run-tests.sh
  tests/setup-ci-environment.sh
  uninstall.sh
Due: shellcheck, shfmt, tests

refactor: improve formatting and consistency in bump-version and generate-ai-workflow scripts
  bin/bump-version
  bin/generate-ai-workflow
  scripts/.shfmtignore
Due: none

feat: enhance pdf-to-web workflow with HTML gallery generation
  README.md
  bin/imgxsh
  config/workflows/pdf-to-web.yaml
  docs/EXAMPLES-GALLERY.md
  docs/PRESETS-SYSTEM.md
  docs/WORKFLOW-CONFIGURATION.md
  docs/WORKFLOW-QUICK-REFERENCE.md
Due: none

docs: enhance README with comprehensive workflow examples and Excel extraction guide
  README.md
  bin/imgxsh-extract-excel
Due: none

fix: preset system visual modal mermaid chart
  docs/PRESETS-SYSTEM.md
Due: none

fix: preset system visual modal mermaid chart syntax
  docs/PRESETS-SYSTEM.md
Due: none

chore: bump version to 0.1.0
  VERSION
Due: none

fix: enhance semantic version validation in release workflow
  .github/workflows/release.yml
Due: none

fix(bump-version): add imgxsh project detection and proper version handling
  bin/bump-version
Due: none

chore: bump version to 0.1.1
  VERSION
Due: none

fix: update branding and URLs to reference imgxsh instead of Shell Starter
  README.md
  install.sh
  uninstall.sh
Due: shellcheck, shfmt, tests

chore: bump version to 0.1.2
  VERSION
Due: none

fix(release): update release archives to use imgxsh naming instead of shell-starter
  .github/workflows/release.yml
Due: none

chore: bump version to 0.1.3
  VERSION
Due: none

fix(install): enable automatic GitHub installation when run via curl
  install.sh
Due: shellcheck, shfmt, tests

chore: bump version to 0.1.4
  VERSION
Due: none

Path conditions:
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  tests: any of: *.{sh,bats}
